

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, #7894fb, #2F5CFF);
}
nav {
  display: block;
  text-align: center;
  position: relative;
  background-color: transparent;
}
.input-field label {
  color: gray;
  margin-left: 1%;
}

.input-field input[type=text]{
  background-color: #FFF;
  border-radius: 3px;
}


.input-field input[type=text]:focus {
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid grey;
  color: grey;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid grey;
  -webkit-box-shadow: 0 1px 0 0 grey;
  box-shadow: 0 1px 0 0 grey;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
  background-color: transparent;
}
.mensaje {
  text-align: center;
  font-size: 2rem;
}
.buscador i {
  width: 100%;
}
.error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}
.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}
.card-panel p { 
  text-align: center;
  font-size: 1.4rem;
}
.temperatura {
  font-size: 4rem!important
}
.temperatura span {
  font-size: 2rem!important;
  vertical-align: super;
}

.btn-block {
  display: block;
  position: static;
  border-radius: 3px;
}
.row{
  height: 100vh;
}

.error {
  padding: 1rem!important;
  text-align: center!important;
  color: #FFF!important;
}

.select{
  position: absolute;
}
.card-panel{
  border-radius: 10;
}

.title{
  font-weight: bold;
  font-size:x-large;
}